/* stylelint-disable declaration-no-important  */

body {
    font-size: 14px;
    line-height: 1.3;
}

a:hover {
    text-decoration: none;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.error {
    margin-top: 40px auto 0 auto;
    width: 500px;
    text-align: center;
}

.wiki-help {
    color: black;
    font-size: .9em;
}

.form-group {
    margin-left: 0;
    margin-right: 0;
}

.bottom-details {
    margin-top: 10px;
}

.img-avatar {
    border: 2px solid white;
    border-radius: 50px;
    float: left;
    margin: 0 auto;
    margin-top: -7px;
    margin-right: 5px;
}

.form-avatar {
    margin-bottom: 10px;
}

.progress {
    margin-bottom: 0;
}

.clickable-row {
    cursor: pointer;
}

.notice {
    margin: 40px;
    text-align: center;
    color: #888;
}

code.log {
    display: none;
    background-color: transparent;
}

code.log p {
    background-color: black;
    color: white;
    padding: 5px;
}

span.datetime-time {
    margin-left: 10px;
}

#legend-toggle {
    float: right;
}

// Filters Observations and Stations

#collapseFilters {

    h4,
    h3 {
        display: inline-block;
    }

    label.btn-unknown {
        font-weight: 900;
    }

    button.active {
        border: 1px solid #333;

        &:not(.active) {
            color: #666;
        }
    }
}

.filter-section {
    background-color: #f5f5f5;
    padding: 10px;
}

// Navigation backgrounds for active and hovered nav-items

.nav-item:hover,
.nav-item.active {
    background-color: #e7e7e7;
}

// Progress Bar colors

.pb-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.pb-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.pb-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.pb-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

//Define bg-{online,offline,testing} & text-{online,offline,testing}

.bg-online {
    background-color: #dff0d8;
}

.text-online {
    color: #3c763d;
}

.bg-offline {
    background-color: #f2dede;
}

.text-offline {
    color: #a94442;
}

.bg-testing {
    background-color: #fcf8e3;
}

.text-testing {
    color: #8a6d3b;
}

// ~~~ Bootstrap Select Overwrites ~~~

// Selectpickers border color to be the same as the bootstrap one
// for form-control for better vizual results in forms

.bootstrap-select.form-control {
    border: 1px solid #ced4da !important;
}

// ~~~ Bootstrap Overwrites ~~~

// Overwrite .close font-size of bootstrap for getting X button
// vertical alligned in alert messages

.close {
    font-size: 1.3rem;
    margin-top: -1px;
}

// Overwrite label font-weight of bootstrap for getting bold letters
// in form labels

label {
    font-weight: 700;
}

// Overwrite button-primary and btn-info color to be the same with
// the one we used

.btn-primary {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.btn-primary:hover {
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.btn-info {
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.btn-info:hover {
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}

.btn-warning {
    color: #ffffff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}

.btn-warning:hover {
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}

.btn-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.btn-danger:hover {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.btn-success {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-success:hover {
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

// Overwrite bg-{success,danger,info,warning},
// border-{success,danger,info,warning} and
// text-{success,danger,info,warning} to be the same color with the
// one we used.

.bg-success {
    background-color: #dff0d8 !important;
}

.border-success {
    border-color: #d6e9c6 !important;
}

.text-success {
    color: #3c763d !important;
}

.bg-danger {
    background-color: #f2dede !important;
}

.border-danger {
    border-color: #f2dede !important;
}

.text-danger {
    color: #a94442 !important;
}

.bg-info {
    background-color: #d9edf7 !important;
}

.border-info {
    border-color: #bce8f1 !important;
}

.text-info {
    color: #31708f !important;
}

.bg-warning {
    background-color: #fcf8e3 !important;
}

.border-warning {
    border-color: #faebcc !important;
}

.text-warning {
    color: #8a6d3b !important;
}

// Overwrite td vertical-align to vertically align table elements in
// the middle of the cell

.table td, .table th {
    vertical-align: middle !important;
}

// Overwrite badge padding

.badge {
    padding: 0.5em 0.6em !important;
}
